Repository KyoshiNoda/ScheduleFinder, pull requests merged in 2023-07, with the labels that each got.

#152 Dev branch
  backend/dist/controllers/AuthController.js
  backend/src/controllers/AuthController.ts
  backend/src/models/userModel.ts
  client/src/components/Account/Personal/PersonalTab.tsx
  client/src/components/Navbar.tsx
  client/src/components/findUsers/User.tsx
  client/src/components/findUsers/UserContainer.tsx
  client/src/pages/CompareSchedule.tsx
  client/src/pages/Login.tsx
  client/src/redux/feats/auth/authActions.ts
  client/src/redux/services/auth/authService.ts
  client/src/redux/services/schedule/scheduleService.ts
  client/src/redux/services/user/userService.ts
  client/src/types.ts
  client/src/utils/environment.ts
Labels: bug, enhancement, Backend, Main Merge

#148 132 fix responsiveness of the schedule and landing pages
  client/src/App.tsx
  client/src/components/Login/LoginBox.tsx
  client/src/components/Schedule/ScheduleBox.tsx
  client/src/components/Schedule/TimeSlot.tsx
  client/src/components/Schedule/TimeSlotInput.tsx
  client/src/components/Signup/SignUpBox.tsx
  client/src/components/Signup/SignUpForm.tsx
  client/src/components/Toggle.tsx
  client/src/pages/CompareSchedule.tsx
  client/src/pages/Homepage.tsx
  client/src/pages/LandingPage.tsx
  client/src/pages/Login.tsx
  client/src/pages/Schedule.tsx
  client/src/pages/Signup.tsx
Labels: Frontend, enhancement

#153 144 forgot password
  backend/dist/controllers/AuthController.js
  backend/dist/controllers/UserController.js
  backend/dist/routes/authRoute.js
  backend/dist/routes/userRoute.js
  backend/dist/server.js
  backend/package-lock.json
  backend/package.json
  backend/src/controllers/AuthController.ts
  backend/src/controllers/UserController.ts
  backend/src/routes/authRoute.ts
  backend/src/routes/userRoute.ts
  backend/src/server.ts
  client/src/App.tsx
  client/src/components/Auth/ChangePassword.tsx
  client/src/components/Login/LoginForm.tsx
  client/src/pages/ForgotPassword.tsx
  client/src/pages/ResetPassword.tsx
  client/src/redux/feats/auth/authActions.ts
  client/src/redux/feats/auth/authSlice.ts
  client/src/redux/services/user/userService.ts
Labels: Frontend, enhancement, Backend

#158 156 crud friends
  backend/dist/controllers/FriendController.js
  backend/dist/models/userModel.js
  backend/dist/routes/friendRequest.js
  backend/dist/routes/friendRequestRoute.js
  backend/dist/routes/friendRoute.js
  backend/dist/server.js
  backend/src/controllers/FriendController.ts
  backend/src/models/userModel.ts
  backend/src/routes/friendRequestRoute.ts
  backend/src/routes/friendRoute.ts
  backend/src/server.ts
  client/package-lock.json
Labels: Enhancement, Backend

#160 159 overall style changes
  backend/src/routes/friendRequestRoute.ts
  backend/src/server.ts
  client/src/components/Account/Friends/FriendsTab.tsx
  client/src/components/Account/Personal/PersonalTab.tsx
  client/src/components/Account/Profile/ProfileTab.tsx
  client/src/components/Auth/GoogleAuth.tsx
  client/src/components/Login/LoginForm.tsx
  client/src/components/PageLayout.tsx
  client/src/components/Schedule/ScheduleBox.tsx
  client/src/components/Schedule/TimeSlotInput.tsx
  client/src/components/Signup/SignUpForm.tsx
  client/src/components/Toggle.tsx
  client/src/components/findUsers/LoadingUser.tsx
  client/src/components/findUsers/User.tsx
  client/src/pages/CompareSchedule.tsx
  client/src/pages/Login.tsx
  client/src/pages/Signup.tsx
Labels: Frontend, Fix
