Repository KyoshiNoda/ScheduleFinder, pull requests merged in 2023-02, with the labels that each got.

#28 added schedule Schema
  backend/dist/models/scheduleModel.js
  backend/src/models/scheduleModel.ts
Labels: Backend

#35 Moving Prettier setup to the global folder.
  .gitignore
  .prettierrc
  backend/package-lock.json
  backend/package.json
  package-lock.json
  package.json
Labels: enhancement

#39 32 return schedule jwt
  backend/dist/controllers/ScheduleController.js
  backend/dist/controllers/UserController.js
  backend/dist/models/scheduleModel.js
  backend/dist/routes/authRoute.js
  backend/dist/routes/scheduleRoute.js
  backend/dist/routes/userRoute.js
  backend/dist/server.js
  backend/src/controllers/AuthController.ts
  backend/src/controllers/ScheduleController.ts
  backend/src/controllers/UserController.ts
  backend/src/models/scheduleModel.ts
  backend/src/routes/authRoute.ts
  backend/src/routes/scheduleRoute.ts
  backend/src/routes/userRoute.ts
  backend/src/server.ts
Labels: Backend

#41 potentially fixed updated schema
  backend/src/controllers/AuthController.ts
  backend/src/controllers/UserController.ts
  backend/src/models/scheduleModel.ts
  backend/src/models/userModel.ts
Labels: bug, Backend

#42 36 post schedule endpoint
  backend/dist/controllers/AuthController.js
  backend/dist/controllers/ScheduleController.js
  backend/dist/controllers/UserController.js
  backend/dist/models/scheduleModel.js
  backend/dist/models/userModel.js
  backend/dist/routes/scheduleRoute.js
  backend/src/controllers/ScheduleController.ts
  backend/src/models/scheduleModel.ts
  backend/src/routes/scheduleRoute.ts
Labels: Backend

#48 dev branch -> main
  .gitignore
  .prettierrc
  backend/.gitignore
  backend/dist/controllers/AuthController.js
  backend/dist/controllers/ScheduleController.js
  backend/dist/controllers/UserController.js
  backend/dist/models/scheduleModel.js
  backend/dist/models/userModel.js
  backend/dist/routes/authRoute.js
  backend/dist/routes/scheduleRoute.js
  backend/dist/routes/userRoute.js
  backend/dist/server.js
  backend/package-lock.json
  backend/package.json
  backend/src/controllers/AuthController.ts
  backend/src/controllers/ScheduleController.ts
  backend/src/controllers/UserController.ts
  backend/src/models/scheduleModel.ts
  backend/src/models/userModel.ts
  backend/src/routes/authRoute.ts
  backend/src/routes/scheduleRoute.ts
  backend/src/routes/userRoute.ts
  backend/src/server.ts
  package-lock.json
  package.json
Labels: Backend, Main Merge
